body{
  background-color: black !important;
}
.next-page-button{
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 55px;
  display: flex;
  margin: 15px auto;
}
.cards{
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  width: 95%;
  margin: auto;
}